body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131318;
}

.box-item {
  position: relative;
  width: 415px;
  margin-bottom: 35px;
  max-width: 100%;
}

.flip-box {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  backface-visibility: hidden;
}

.flip-box-front {
  background-image: url('./boy.jpg');
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.flip-box-back {
  background-image: url('./cv-boy.jpg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
